
<h1>This is <%= @mma %></h1>

<form action='/show-mma' method='post'>
  <input type='text' mma='mma'>
  <input type='submit' value='Submit'
</form>

<div style='border: 3px dashed red'>
   <img src='https://cdn.mmaweekly.com/wp-content/uploads/2018/06/Leon-Edwards-vs-Donald-Cerrone-UFC-Singapore-Highlights.jpg'>
</div>
